<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hi!</h2>
                <hr class="light">
                <p class="text-faded"> I'm Yifan Jiang, A Master's student at University of Illinois Urbana-Champaign focusing on Computer Science. </p>
                <p class="text-faded"> I like building things! I wonder if everyone feels the same as me when pressing down the run button of a software -- it's so good. (unless errors happen) These years, even a tiny app or software could also bring the whole world a new wind. I hope I could involve a similar product in the future. </p>
                <p class="text-faded">With the various courses during my undergraduate study, I've experienced general software development as well as smartphone apps and found passion towards them. Aside from the computational skills and computational thinking, I've also developed strong collaboration skills and some leadership skills. I believe my master education could enhance these skills and get me more skills. Feel free to contact me if you want to know more about me! </p>
            </div>
        </div>
    </div>
</section>
