<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hi!</h2>
                <hr class="light">
                <p class="text-faded">I'm Yifan Jiang, A Computer Science and Digital Media Studies Student at University of Rochester.</p>
                <p class="text-faded">As a Computer Science and Digital Media Studies student, I am interested in how these electronical mediums are altering our daily life. The world had already shown us how these zeros and ones evolved how we behave, and I am wondering what more these technologies could bring us, like the transformations these mobile devices had brought us in the past 10 years. And these years, even a tiny app could also bring the whole world a new wind. I hope I could involve a similar product in the future.
With the various courses at University of Rochester, I've experienced general software development as well as smartphone apps and found passion towards them. Aside from the computational skills and computational thinking, I've also developed strong collaboration skills and some leadership skills. Feel free to contact me if you want to know more about me! </p>
            </div>
        </div>
    </div>
</section>
