<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p> Want to talk with me a little bit? That's great! Feel free to use the contact info below to reach me! </p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="//TODO">
                <i class="fa fa-weixin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:yjiang45@u.rochester.edu">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ yjiang45@u.rochester.edu }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/o0BB0o">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
