@mixin transition-all()
{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin button-variant($color, $background, $border)
{
	color: $color;
	background-color: $background;
	border-color: $border;
	@include transition-all;

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		color: $color;
		background-color: darken($background, 5%);
    border-color: darken($border, 7%);
	}
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}

@mixin sans-serif-font()
{
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin serif-font()
{
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.arrow_down{                   //居中
	position: absolute;
	left: 50%;
	bottom: 50px;
	color: white;
}
.arrow_down span{              //箭头形状设置
	position: absolute;
	width: 20px;
	height: 20px;
	top: 10px;
	-webkit-transform:rotate(45deg);
	border-top: 1px solid white;
	border-left: 1px solid white;
	margin-left: -10px;
	opacity: 0;
	-webkit-animation: down 2s infinite;
	animation: down 2s infinite;
}
.arrow_down span:nth-of-type(2){
	top: 20px;
}
.arrow_down span:nth-of-type(1){
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}
@-webkit-keyframes down{   //动画设置
	0%{
		opacity: 0;
		-webkit-transform: translate(0, 0) -webkit-rotate(45deg);
	}
	50%{
		opacity: 1;
		-webkit-transform: translate(0, -20px) -webkit-rotate(45deg);
	}
	100%{
		opacity: 0;
	}
}
@keyframes down{
	0%{
		opacity: 0;
		transform: translate(0, 0) rotate(45deg);
	}
	50%{
		opacity: 1;
		transform: translate(0, -20px) rotate(45deg);
	}
	100%{
		opacity: 0;
	}
}